
@import url('https://fonts.googleapis.com/css2?family=Ultra&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


// <uniquifier>: Use a unique and descriptive class name

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.ultra-regular {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
}


